* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
  }

  nav {
    padding: 24px 0 0 0;
  }

  section {
    padding-top: 5%;
    padding-right: 15%;
    padding-bottom: 5%;
    padding-left: 15%;
  }

  header, footer {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    background-color: #F8F8F8;
  }

  header {
    border-bottom: 1px solid #CED5D9;
  }

  footer {
    border-top: 1px solid #CED5D9;
  }

  .hello, .footer-intro, h1 {
    font-weight: 900;
    font-size: 18px;
    display: inline;
  }
  
  img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    border: 1px solid #000000;
    border-radius: .3em;
  }

  h2 {
    margin: 0;
  }

  .portfolio-title, h2{
    padding: 24px 0 0 0;
    font-weight: 900;
    font-size: 21px;
  }

  .portfolio-short-description {
    padding: 3px 0 0 0;
    font-size: 18px;
    color: #696969;
  }

  .wide-line {
    margin: 18px 0 18px 0;
    border-top: 3px solid #025951;
  }

  .portfo-description {
    width: 65%;
  }

  .portfo-right-content {
    width: 25%;
    padding: 0 0 0 18px;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones 768px to 320px: */
    [class*="portfo-"] {
      width: 100%;
    }

    .portfo-right-content {
      padding: 0;
    }
  }

  [class*="portfo-"] {
    float: left;
  }

  .technology-used {
    padding: 0;
  }

  .portfolio-description-and-tech-used {
    display: inline-block;
  }

  .portfolio-technology-used ul {
    list-style-type: none;
    font-weight: 900;
  }

  .portfolio-technology-used ul li {
    padding: 0 2px 0 0;
    display: inline-block;
    font-weight: 400;
  }

  .portfolio-technology-used li::after {
    content: ",";
  }
  
  .portfolio-technology-used li:last-child::after {
    content: "";
  }

  .connect-link:link, .github-link:link, .email-connect:link, .linkedin-connect:link {
    text-decoration: none;
    border: 2px solid #04BFAD;
    padding: 6px;
    color: #000000;
    border-radius: .1em;
  }

  .connect-link:visited, .github-link:visited, .email-connect:visited, .linkedin-connect:visited, .live-app-link:link, .repo-link:link, .live-app-link:visited, .repo-link:visited {
    text-decoration: none;
    border: 2px solid #04BFAD;
    padding: 6px;
    color: #000000;
    border-radius: .1em;
  }

  .connect-link:hover, .github-link:hover, .email-connect:hover, .linkedin-connect:hover, .live-app-link:hover, .repo-link:hover {
    text-decoration: none;
    border: 2px solid #691D73;
    background-color: #691D73;
    color: #F8F8F8;
    padding: 6px;
    border-radius: .1em;
  }

  .link-space {
    margin-top: 18px;
  }

  .to-the-top:link, .to-the-top:visited, .to-the-top:hover {
    text-decoration: none;
    color: #696969;
  }